<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Schedule Election</title>
    <!-- Required meta tags -->
    <%- include('../partials/head.ejs') %>
  </head>
  <body>






<div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->


      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <%- include('../partials/navigation.ejs') %>
        </nav>


        <!-- Form -->
        
        <div class="main-panel">
          <div class="content-wrapper">
            

          
            <div class="content-wrapper">
              <div class="row">
                <div class="col-12 grid-margin stretch-card">
                  <div class="card corona-gradient-card">
                    <div class="card-body py-0 px-0 px-sm-3">
                      <div class="row align-items-center">
                        <div class="col-4 col-sm-3 col-xl-2">
                          <img src="/images/dashboard/Group126@2x.png" class="gradient-corona-img img-fluid" alt="">
                        </div>
                        <div class="col-5 col-sm-7 col-xl-8 p-0">
                          <h3 class="mb-1 mb-sm-0" style="text-align: center;">Election  Registration Verification</h3>
                          <p class="mb-0 font-weight-normal d-none d-sm-block" style="text-align: center;"><i>Enter OTP PIN (Step 2 of 2)</i></p>
                        </div>
                        <div class="col-3 col-sm-2 col-xl-2 pl-0 text-center">
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>





            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="card">
                  <div class="card-body">
                   
                    <form action="/election/registration-verify" method="POST" enctype="application/x-www-form-urlencoded">
                 
                      <div class="form-group">
                        <label for="otp">One Time PIN</label>
                        <input type="text" class="form-control" name="otp" id="otp" placeholder="One Time PIN" required>
                      </div>
            
                      <button type="submit" class="btn btn-primary mr-2">Confirm</button>
                      <button class="btn btn-dark">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>

          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->

          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <footer class="footer">
        <%- include('../partials/footer.ejs') %>
      </footer>
      <!-- page-body-wrapper ends -->
    </div> 
    
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/vendors/select2/select2.min.js"></script>
    <script src="/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/js/off-canvas.js"></script>
    <script src="/js/hoverable-collapse.js"></script>
    <script src="/js/misc.js"></script>
    <script src="/js/settings.js"></script>
    <script src="/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/js/file-upload.js"></script>
    <script src="/js/typeahead.js"></script>
    <script src="/js/select2.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>